<div class="container custom-container">
  <div class="col-md-12">
    
    <h3 class="mb-3 text-center">Update Employee</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="evento.nome" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="evento.local" class="form-control" placeholder="Email">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="evento.data" class="form-control" placeholder="Phone">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="evento.horario" class="form-control" placeholder="Phone">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="salvar(evento)">atualizar eventos</button>
    </div>
    
  </div>
</div>