

<p-table [value]="eventos" styleClass="p-datatable-striped">
  <ng-template pTemplate="header">
      <tr>
        <th>Codigo</th>
        <th>Nome do Evento</th>
        <th>Local</th>
        <th>data</th>
        <th>horario</th>
        <th>editar</th>
        <th>remover</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-evento>
      <tr > <!--*ngFor="let evento of eventos"-->
        <td>{{evento.codigo}}</td>
        <td>{{evento.nome}}</td>
        <td>{{evento.local}}</td>
        <td>{{evento.data}}</td>
        <td>{{evento.horario}}</td> <!--(click)="editProduct(product)"-->
        <td><button pButton pRipple  class="p-button-rounded p-button-success p-mr-2" routerLink="/editar/{{evento.codigo}}">EDITAR</button>
          <td><button pButton pRipple  class="p-button-rounded p-button-success p-mr-2" (click)="remover(evento)">remover</button>
      </td>
        <!--(click)="deleteProduct(product)"-->
      </tr>
  </ng-template>
</p-table>