<!--app-evento-form></app-evento-form>-->

<!--
<nav>
    <a routerLink="/">Index</a> <br>
    <a routerLink="/form">cadastrar</a>  <br>
    <a routerLink="/listaEventos">LISTAR EVENTOS</a>  <br>
    <a routerLink="/convidadoform">Cadastrar Convidado</a>  <br>
    <a routerLink="/listaConvidados">Listar Convidado</a>  <br>
    </nav>
    -->

    <p-menubar [model]="items"> 
        <div>
            <button type="button" pButton label="LOGOUT" icon="pi pi-power-off" style="margin-left:.25em"></button>
        </div>
    </p-menubar>
    <router-outlet></router-outlet>
