<p-table [value]="convidados" styleClass="p-datatable-striped">
  <ng-template pTemplate="header">
      <tr>
        <th>Codigo</th>
        <th>Nome do Convidado</th>
        <th>RG</th>
        <th>Nome do Evento</th>
        <th>editar</th>
        <th>remover</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-convidado>
      <tr > <!--*ngFor="let evento of eventos"-->
        <td>{{convidado.codigo}}</td>
        <td>{{convidado.nomeConvidado}}</td>
        <td>{{convidado.rg}}</td>

        <td><button pButton pRipple  class="p-button-rounded p-button-success p-mr-2" routerLink="/atualizar/{{convidado.codigo}}">EDITAR</button>
          <td><button pButton pRipple  class="p-button-rounded p-button-success p-mr-2" (click)="remover(convidado)">remover</button>
      </td>
        <!--(click)="deleteProduct(product)"-->
      </tr>
  </ng-template>
</p-table>