<p-card>

  <form>
    <div class="ui-g">
      <div class="ui-g-12 ui-fluid">
        <h2>Cadastro do Convidado</h2>
      </div>
  
      <div class="ui-g-2 ui-fluid">
        <label>Nome</label>
        <input pInputText name="nome" [(ngModel)]="convidado.nomeConvidado"/>
      </div>
  
      <div class="ui-g-10 ui-fluid">
        <label>RG</label>
        <input pInputText name="RG" [(ngModel)]="convidado.rg"/>
      </div>

     
    </div>

    <button pButton type="submit" (click)="salvar(convidado)">SALVAR</button>

  </form>
  
</p-card>


