<p-card>

  <form>
    <div class="ui-g">
      <div class="ui-g-12 ui-fluid">
        <h2>Cadastro</h2>
      </div>
  
      <div class="ui-g-2 ui-fluid">
        <label for="descricao">Descricao</label>
        <input pInputText id="descricao" name="descricao" [(ngModel)]="evento.nome"/>
      </div>
  
      <div class="ui-g-10 ui-fluid">
        <label>Local</label>
        <input pInputText name="local" [(ngModel)]="evento.local"/>
      </div>
  
      <div class="ui-g-4 ui-fluid">
        <label>Data</label>
        <input pInputText name="data" [(ngModel)]="evento.data"/>
      </div>
  
      <div class="ui-g-4 ui-fluid">
        <label>Hora</label>
        <input pInputText name="hora" [(ngModel)]="evento.horario"/>
      </div>
  
     
    </div>

    <button pButton type="submit" (click)="salvar(evento)">SALVAR</button>

  </form>
  
</p-card>


